the data origin

1)I get covid data from the New York Times, the link is as follows:
https://github.com/nytimes/covid-19-data![image.png](attachment:image.png)

2)I get the commercial real estate data from CoStar Company

3)I get the stay at home and facial mask data from the following website:
https://flicg.org/county-by-county-covid-19-information/

# import covid data and get florida covid data

In [24]:
import numpy as np
import pandas as pd

In [2]:
covid=pd.read_csv('/Users/yoga/Documents/Projects/1_covid19_cre/72_update regression analysis 20220122/1_us-counties_covid20220122.csv')

covid_fl=covid.loc[covid['state']=='Florida']
covid_fl

               date        county    state     fips   cases  deaths
411      2020-03-01  Hillsborough  Florida  12057.0       1     0.0
412      2020-03-01       Manatee  Florida  12081.0       1     0.0
440      2020-03-02  Hillsborough  Florida  12057.0       1     0.0
441      2020-03-02       Manatee  Florida  12081.0       1     0.0
474      2020-03-03  Hillsborough  Florida  12057.0       2     0.0
...             ...           ...      ...      ...     ...     ...
2138790  2022-01-22       Unknown  Florida      NaN   22916   605.0
2138791  2022-01-22       Volusia  Florida  12127.0  102609  1659.0
2138792  2022-01-22       Wakulla  Florida  12129.0    8520   108.0
2138793  2022-01-22        Walton  Florida  12131.0   14760   177.0
2138794  2022-01-22    Washington  Florida  12133.0    5810    87.0

[45814 rows x 6 columns]

In [3]:
time=['2020-03-31','2020-06-30','2020-09-30','2020-12-31','2021-03-31','2021-06-30','2021-09-30','2021-12-31']

covid_fl_qtr=covid_fl.loc[covid_fl['date'].isin(time)]

covid_fl_qtr

               date      county    state     fips  cases  deaths
21976    2020-03-31     Alachua  Florida  12001.0     87     0.0
21977    2020-03-31       Baker  Florida  12003.0      9     0.0
21978    2020-03-31         Bay  Florida  12005.0      8     0.0
21979    2020-03-31    Bradford  Florida  12007.0      2     0.0
21980    2020-03-31     Brevard  Florida  12009.0     37     0.0
...             ...         ...      ...      ...    ...     ...
2067246  2021-12-31     Unknown  Florida      NaN      5   162.0
2067247  2021-12-31     Volusia  Florida  12127.0  82954  1647.0
2067248  2021-12-31     Wakulla  Florida  12129.0   6803   106.0
2067249  2021-12-31      Walton  Florida  12131.0  12464   173.0
2067250  2021-12-31  Washington  Florida  12133.0   4707    75.0

[531 rows x 6 columns]

In [20]:


covid_fl_qtr['quarter']=''
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-03-31']='2020 Q1'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-06-30']='2020 Q2'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-09-30']='2020 Q3'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-12-31']='2020 Q4'

covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-03-31']='2021 Q1'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-06-30']='2021 Q2'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-09-30']='2021 Q3'
covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-12-31']='2021 Q4'

<ipython-input-20-6bf9af656386>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter']=''
<ipython-input-20-6bf9af656386>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-03-31']='2020 Q1'
/Users/yoga/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-20-6bf9af656386>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-06-30']='2020 Q2'
<ipython-input-20-6bf9af656386>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-09-30']='2020 Q3'
<ipython-input-20-6bf9af656386>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2020-12-31']='2020 Q4'
<ipython-input-20-6bf9af656386>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-03-31']='2021 Q1'
<ipython-input-20-6bf9af656386>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-06-30']='2021 Q2'
<ipython-input-20-6bf9af656386>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-09-30']='2021 Q3'
<ipython-input-20-6bf9af656386>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_fl_qtr['quarter'][covid_fl_qtr['date']=='2021-12-31']='2021 Q4'

In [22]:
covid_fl_qtr

               date      county    state     fips  cases  deaths  quarter
21976    2020-03-31     Alachua  Florida  12001.0     87     0.0  2020 Q1
21977    2020-03-31       Baker  Florida  12003.0      9     0.0  2020 Q1
21978    2020-03-31         Bay  Florida  12005.0      8     0.0  2020 Q1
21979    2020-03-31    Bradford  Florida  12007.0      2     0.0  2020 Q1
21980    2020-03-31     Brevard  Florida  12009.0     37     0.0  2020 Q1
...             ...         ...      ...      ...    ...     ...      ...
2067246  2021-12-31     Unknown  Florida      NaN      5   162.0  2021 Q4
2067247  2021-12-31     Volusia  Florida  12127.0  82954  1647.0  2021 Q4
2067248  2021-12-31     Wakulla  Florida  12129.0   6803   106.0  2021 Q4
2067249  2021-12-31      Walton  Florida  12131.0  12464   173.0  2021 Q4
2067250  2021-12-31  Washington  Florida  12133.0   4707    75.0  2021 Q4

[531 rows x 7 columns]

In [23]:
#here lack three msaï¼š33124  Miami - FL48424  Palm Beach - FLï¼›22744 Fort Lauderdale - FL

cbsa2coun=pd.read_excel('/Users/yoga/Dropbox/1 æ–°å† å’Œå•†ä¸šåœ°äº§/101 CRE second time 202205/4-5 cbsa 2 county name.xlsx')
cbsa2coun

    CBSAFP                               CBSA NAME   County NAME
0    23540                         Gainesville, FL          Levy
1    23540                         Gainesville, FL       Alachua
2    23540                         Gainesville, FL     Gilchrist
3    18880  Crestview-Fort Walton Beach-Destin, FL        Walton
4    18880  Crestview-Fort Walton Beach-Destin, FL      Okaloosa
5    19660  Deltona-Daytona Beach-Ormond Beach, FL       Flagler
6    19660  Deltona-Daytona Beach-Ormond Beach, FL       Volusia
7    15980               Cape Coral-Fort Myers, FL           Lee
8    26140                   Homosassa Springs, FL        Citrus
9    27260                        Jacksonville, FL          Clay
10   27260                        Jacksonville, FL        Nassau
11   27260                        Jacksonville, FL     St. Johns
12   27260                        Jacksonville, FL         Baker
13   27260                        Jacksonville, FL         Duval
14   29460               Lakeland-Winter Haven, FL          Polk
15   34940                 Naples-Marco Island, FL       Collier
16   35840       North Port-Sarasota-Bradenton, FL       Manatee
17   35840       North Port-Sarasota-Bradenton, FL      Sarasota
18   36100                               Ocala, FL        Marion
19   36740           Orlando-Kissimmee-Sanford, FL       Osceola
20   36740           Orlando-Kissimmee-Sanford, FL        Orange
21   36740           Orlando-Kissimmee-Sanford, FL          Lake
22   36740           Orlando-Kissimmee-Sanford, FL      Seminole
23   37340       Palm Bay-Melbourne-Titusville, FL       Brevard
24   37460                         Panama City, FL           Bay
25   37860          Pensacola-Ferry Pass-Brent, FL      Escambia
26   37860          Pensacola-Ferry Pass-Brent, FL    Santa Rosa
27   38940                      Port St. Lucie, FL     St. Lucie
28   38940                      Port St. Lucie, FL        Martin
29   39460                         Punta Gorda, FL     Charlotte
30   42680                Sebastian-Vero Beach, FL  Indian River
31   42700                   Sebring-Avon Park, FL     Highlands
32   45220                         Tallahassee, FL       Gadsden
33   45220                         Tallahassee, FL       Wakulla
34   45220                         Tallahassee, FL     Jefferson
35   45220                         Tallahassee, FL          Leon
36   45300     Tampa-St. Petersburg-Clearwater, FL      Hernando
37   45300     Tampa-St. Petersburg-Clearwater, FL      Pinellas
38   45300     Tampa-St. Petersburg-Clearwater, FL         Pasco
39   45300     Tampa-St. Petersburg-Clearwater, FL  Hillsborough
40   45540                        The Villages, FL        Sumter
41   22744                     Fort Lauderdale, FL       Broward
42   33124                               Miami, FL    Miami-Dade
43   48424                          Palm Beach, FL    Palm Beach

In [24]:
len(cbsa2coun['CBSA NAME'].unique())

24

In [25]:
#try to merge
covid2_merge=pd.merge(left=covid_fl_qtr,right=cbsa2coun,left_on='county',right_on='County NAME',how='left')

In [26]:
covid2_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 530
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         531 non-null    object
 1   county       531 non-null    object
 2   state        531 non-null    object
 3   fips         524 non-null    float64
 4   cases        531 non-null    int64
 5   deaths       531 non-null    float64
 6   quarter      531 non-null    object
 7   CBSAFP       350 non-null    float64
 8   CBSA NAME    350 non-null    object
 9   County NAME  350 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 45.6+ KB

In [27]:
len(covid2_merge['CBSAFP'].unique()) #å¤šäº†ä¸€ä¸ªnan

25

In [28]:
len(cbsa2coun['County NAME'].unique())

44

In [29]:
covid2_merge2=covid2_merge.copy()
covid2_merge2=covid2_merge2.dropna()

In [30]:
len(covid2_merge2['County NAME'].unique())

44

In [31]:
covid2_merge2

,date,county,state,fips,cases,deaths,quarter,CBSAFP,CBSA NAME,County NAME
0,2020-03-31,Alachua,Florida,12001.0,87,0.0,2020 Q1,23540.0,"Gainesville, FL",Alachua
1,2020-03-31,Baker,Florida,12003.0,9,0.0,2020 Q1,27260.0,"Jacksonville, FL",Baker
2,2020-03-31,Bay,Florida,12005.0,8,0.0,2020 Q1,37460.0,"Panama City, FL",Bay
4,2020-03-31,Brevard,Florida,12009.0,37,0.0,2020 Q1,37340.0,"Palm Bay-Melbourne-Titusville, FL",Brevard
5,2020-03-31,Broward,Florida,12011.0,1219,12.0,2020 Q1,22744.0,"Fort Lauderdale, FL",Broward
...,...,...,...,...,...,...,...,...,...,...
521,2021-12-31,St. Lucie,Florida,12111.0,52135,1047.0,2021 Q4,38940.0,"Port St. Lucie, FL",St. Lucie
522,2021-12-31,Sumter,Florida,12119.0,15405,475.0,2021 Q4,45540.0,"The Villages, FL",Sumter
527,2021-12-31,Volusia,Florida,12127.0,82954,1647.0,2021 Q4,19660.0,"Deltona-Daytona Beach-Ormond Beach, FL",Volusia
528,2021-12-31,Wakulla,Florida,12129.0,6803,106.0,2021 Q4,45220.0,"Tallahassee, FL",Wakulla
529,2021-12-31,Walton,Florida,12131.0,12464,173.0,2021 Q4,18880.0,"Crestview-Fort Walton Beach-Destin, FL",Walton

In [32]:
covid2_merge2['quarter_CBSAFP']=covid2_merge2['quarter'].astype(str)+"&"+covid2_merge2['CBSAFP'].astype(int).astype(str)
covid2_merge2['quarter_CBSAFP']

0      2020 Q1&23540
1      2020 Q1&27260
2      2020 Q1&37460
4      2020 Q1&37340
5      2020 Q1&22744
           ...
521    2021 Q4&38940
522    2021 Q4&45540
527    2021 Q4&19660
528    2021 Q4&45220
529    2021 Q4&18880
Name: quarter_CBSAFP, Length: 350, dtype: object

In [33]:


covid2_merge2[covid2_merge2['quarter_CBSAFP']=='2021 Q4&38940']

,date,county,state,fips,cases,deaths,quarter,CBSAFP,CBSA NAME,County NAME,quarter_CBSAFP
504,2021-12-31,Martin,Florida,12085.0,22335,523.0,2021 Q4,38940.0,"Port St. Lucie, FL",Martin,2021 Q4&38940
521,2021-12-31,St. Lucie,Florida,12111.0,52135,1047.0,2021 Q4,38940.0,"Port St. Lucie, FL",St. Lucie,2021 Q4&38940

In [34]:
covid2_merge2.loc[i]['county']

'Alachua'

In [35]:
#create a dict to calcualte the cases and death.
quarter_CBSAFP2case={}
quarter_CBSAFP2death={}

for i in covid2_merge2.index:
    covid2_merge2i=covid2_merge2.loc[i]['quarter_CBSAFP']
    
    if covid2_merge2i in quarter_CBSAFP2case.keys():
        quarter_CBSAFP2case[covid2_merge2i]=quarter_CBSAFP2case[covid2_merge2i]+covid2_merge2.loc[i]['cases']
        quarter_CBSAFP2death[covid2_merge2i]=quarter_CBSAFP2death[covid2_merge2i]+covid2_merge2.loc[i]['deaths']   
    else:      
        quarter_CBSAFP2case[covid2_merge2i]=covid2_merge2.loc[i]['cases']
        quarter_CBSAFP2death[covid2_merge2i]=covid2_merge2.loc[i]['deaths']

In [36]:

quarter_CBSAFP2case['2021 Q4&38940']

74470

In [37]:
22335+52135

74470

In [50]:
pd_quarter_CBSAFP2case=pd.DataFrame(quarter_CBSAFP2case.items())
pd_quarter_CBSAFP2death=pd.DataFrame(quarter_CBSAFP2death.items())

pd_quarter_CBSAFP2death = pd_quarter_CBSAFP2death.rename({0:'quarter_cbsa', 1:'aggregate_death'}, axis='columns')
pd_quarter_CBSAFP2death

pd_quarter_CBSAFP2case = pd_quarter_CBSAFP2case.rename({0:'quarter_cbsa', 1:'aggregate_case'}, axis='columns')
pd_quarter_CBSAFP2case

pd_quarter_CBSAFP2case_death=pd_quarter_CBSAFP2case.merge(pd_quarter_CBSAFP2death,left_on='quarter_cbsa',right_on='quarter_cbsa',how='left')

#pd_quarter_CBSAFP2case_death.to_csv('20_aggregate_death_case_covid_2020_2021.csv',index=0)

In [52]:
pd_quarter_CBSAFP2case_death

      quarter_cbsa  aggregate_case  aggregate_death
0    2020 Q1&23540              89              0.0
1    2020 Q1&27260             346             11.0
2    2020 Q1&37460               8              0.0
3    2020 Q1&37340              37              0.0
4    2020 Q1&22744            1219             12.0
..             ...             ...              ...
187  2021 Q4&33124          847746           9260.0
188  2021 Q4&18880           48621            754.0
189  2021 Q4&48424          268242           4322.0
190  2021 Q4&29460          140400           2531.0
191  2021 Q4&45540           15405            475.0

[192 rows x 3 columns]

## change aggregated number to number in current quarter

In [90]:
cbsa2deaths_current=dict()
cbsa2cases_current=dict()

quarter=['2020 Q1','2020 Q2','2020 Q3','2020 Q4','2021 Q1','2021 Q2','2021 Q3','2021 Q4']

for i in pd_quarter_CBSAFP2case_death.index:
    cbsa=pd_quarter_CBSAFP2case_death['quarter_cbsa'][i]
    cbsa_period=cbsa.split('&')[0]
    cbsa_code=cbsa.split('&')[1]
    if cbsa_period=='2020 Q1':
        cbsa2deaths_current[cbsa]=pd_quarter_CBSAFP2case_death['aggregate_death'][i]
        cbsa2cases_current[cbsa]=pd_quarter_CBSAFP2case_death['aggregate_case'][i]
    else:
        if cbsa_period not in quarter:
            print('Could not find ', cbsa_period)
            break
        cur_indx = quarter.index(cbsa_period)
        pre_cbsa_period = quarter[cur_indx-1]
        pre_cbsa_code=cbsa_code
        pre_cbsa=pre_cbsa_period+'&'+str(pre_cbsa_code)
        pre_case=pd_quarter_CBSAFP2case_death[pd_quarter_CBSAFP2case_death['quarter_cbsa']==pre_cbsa]['aggregate_case'].values[0]
        pre_death=pd_quarter_CBSAFP2case_death[pd_quarter_CBSAFP2case_death['quarter_cbsa']==pre_cbsa]['aggregate_death'].values[0]
       
        cbsa2deaths_current[cbsa]=pd_quarter_CBSAFP2case_death['aggregate_death'][i]-pre_death
        cbsa2cases_current[cbsa]=pd_quarter_CBSAFP2case_death['aggregate_case'][i]-pre_case
        
        
        
        
        #print(pre_cbsa_period, '->', cbsa_period)

In [92]:
pd_quarter_CBSAFP2case_current=pd.DataFrame(cbsa2cases_current.items())
pd_quarter_CBSAFP2death_current=pd.DataFrame(cbsa2deaths_current.items())

pd_quarter_CBSAFP2death_current = pd_quarter_CBSAFP2death_current.rename({0:'quarter_cbsa', 1:'current_death'}, axis='columns')
pd_quarter_CBSAFP2death

pd_quarter_CBSAFP2case_current = pd_quarter_CBSAFP2case_current.rename({0:'quarter_cbsa', 1:'current_case'}, axis='columns')
pd_quarter_CBSAFP2case

pd_quarter_CBSAFP2case_death_current=pd_quarter_CBSAFP2case_current.merge(pd_quarter_CBSAFP2death_current,left_on='quarter_cbsa',right_on='quarter_cbsa',how='left')

In [98]:
#pd_quarter_CBSAFP2case_death_current.to_csv('21_current_death_case_covid_2020_2021.csv',index=0)


#pd_quarter_CBSAFP2case_death.to_csv('20_aggregate_death_case_covid_2020_2021.csv',index=0)

In [94]:
pd_quarter_CBSAFP2case_death

      quarter_cbsa  aggregate_case  aggregate_death
0    2020 Q1&23540              89              0.0
1    2020 Q1&27260             346             11.0
2    2020 Q1&37460               8              0.0
3    2020 Q1&37340              37              0.0
4    2020 Q1&22744            1219             12.0
..             ...             ...              ...
187  2021 Q4&33124          847746           9260.0
188  2021 Q4&18880           48621            754.0
189  2021 Q4&48424          268242           4322.0
190  2021 Q4&29460          140400           2531.0
191  2021 Q4&45540           15405            475.0

[192 rows x 3 columns]

In [95]:
pd_quarter_CBSAFP2case_death[pd_quarter_CBSAFP2case_death['quarter_cbsa']=='2021 Q3&45540']

      quarter_cbsa  aggregate_case  aggregate_death
167  2021 Q3&45540           13990            428.0

#  import costar data and combine with costar data

In [3]:
retail=pd.read_excel('/Users/yoga/Documents/Projects/1_covid19_cre/72_update regression analysis 20220122/Retail_01-18-2022.xlsx')
office=pd.read_excel('/Users/yoga/Documents/Projects/1_covid19_cre/72_update regression analysis 20220122/Office_01-18-2022.xlsx')
industry=pd.read_excel('/Users/yoga/Documents/Projects/1_covid19_cre/72_update regression analysis 20220122/Industrial_01-18-2022.xlsx')

In [54]:
#df[df['ids'].str.contains("ball")]
retail2=retail[(retail['Period'].str.contains('2018 Q'))|(retail['Period'].str.contains('2019 Q'))|(retail['Period'].str.contains('2020 Q'))|(retail['Period'].str.contains('2021 Q'))]

office2=office[(office['Period'].str.contains('2018 Q'))|(office['Period'].str.contains('2019 Q'))|(office['Period'].str.contains('2020 Q'))|(office['Period'].str.contains('2021 Q'))]

industry2=industry[(industry['Period'].str.contains('2018 Q'))|(industry['Period'].str.contains('2019 Q'))|(industry['Period'].str.contains('2020 Q'))|(industry['Period'].str.contains('2021 Q'))]

In [55]:
industry2

,Property Class Name,Period,Slice,As Of,Geography Name,CBSA Code,Property Type,Forecast Scenario,Geography Type,Geography Code,...,Sold Building SF,Total Employment,Total Return,Total Sales Volume,Transaction Sale Price/SF,Under Construction Buildings,Under Construction SF,Vacancy Rate,Vacant Available %,Vacant Available SF
144,Industrial,2018 Q1,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,227031.0,202634.593750,0.121489,16597775.0,82.98,4.0,54000.0,0.029080,0.026570,636770.0
145,Industrial,2018 Q2,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,623631.0,203406.906250,0.123515,41943208.0,71.42,3.0,36000.0,0.032372,0.028699,688304.0
146,Industrial,2018 Q3,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,171463.0,204901.390625,0.124135,5165600.0,44.95,4.0,37160.0,0.031292,0.030832,739480.0
147,Industrial,2018 Q4,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,192826.0,205294.500000,0.125630,5367000.0,46.90,5.0,93120.0,0.043182,0.043182,1035788.0
148,Industrial,2019 Q1,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,76136.0,205313.906250,0.125999,1646000.0,72.46,3.0,124960.0,0.046645,0.043040,1033872.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3858,Industrial,2020 Q4,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,NaN,31842.000000,0.138026,0.0,NaN,7.0,81600.0,0.021936,0.021936,34530.0
3859,Industrial,2021 Q1,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,13920.0,31496.189453,0.136862,1400000.0,100.57,7.0,81600.0,0.013023,0.013023,20500.0
3860,Industrial,2021 Q2,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,72792.0,31540.269531,0.142301,5357195.0,73.60,7.0,81600.0,0.048391,0.048391,76172.0
3861,Industrial,2021 Q3,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,23266.0,31965.048828,0.156650,3750000.0,161.18,2.0,21600.0,0.054643,0.054643,89292.0
3862,Industrial,2021 Q4,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,2896.0,32531.201172,0.168221,300000.0,103.59,2.0,21600.0,0.050971,0.050971,83292.0

In [56]:
#generate the key word for merge.

retail2['quarter_CBSAFP']=retail2['Period'].astype(str)+"&"+retail2['CBSA Code'].astype(str)

office2['quarter_CBSAFP']=office2['Period'].astype(str)+"&"+office2['CBSA Code'].astype(str)

industry2['quarter_CBSAFP']=industry2['Period'].astype(str)+"&"+industry2['CBSA Code'].astype(str)

<ipython-input-56-c4f0b6e586eb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retail2['quarter_CBSAFP']=retail2['Period'].astype(str)+"&"+retail2['CBSA Code'].astype(str)
<ipython-input-56-c4f0b6e586eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  office2['quarter_CBSAFP']=office2['Period'].astype(str)+"&"+office2['CBSA Code'].astype(str)
<ipython-input-56-c4f0b6e586eb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  industry2['quarter_CBSAFP']=industry2['Period'].astype(str)+"&"+industry2['CBSA Code'].astype(str)

In [57]:
industry2

,Property Class Name,Period,Slice,As Of,Geography Name,CBSA Code,Property Type,Forecast Scenario,Geography Type,Geography Code,...,Total Employment,Total Return,Total Sales Volume,Transaction Sale Price/SF,Under Construction Buildings,Under Construction SF,Vacancy Rate,Vacant Available %,Vacant Available SF,quarter_CBSAFP
144,Industrial,2018 Q1,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,202634.593750,0.121489,16597775.0,82.98,4.0,54000.0,0.029080,0.026570,636770.0,2018 Q1&19660
145,Industrial,2018 Q2,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,203406.906250,0.123515,41943208.0,71.42,3.0,36000.0,0.032372,0.028699,688304.0,2018 Q2&19660
146,Industrial,2018 Q3,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,204901.390625,0.124135,5165600.0,44.95,4.0,37160.0,0.031292,0.030832,739480.0,2018 Q3&19660
147,Industrial,2018 Q4,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,205294.500000,0.125630,5367000.0,46.90,5.0,93120.0,0.043182,0.043182,1035788.0,2018 Q4&19660
148,Industrial,2019 Q1,All,2022 Q1,Daytona Beach - FL,19660,Industrial,Base Case,Metro,G41649,...,205313.906250,0.125999,1646000.0,72.46,3.0,124960.0,0.046645,0.043040,1033872.0,2019 Q1&19660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3858,Industrial,2020 Q4,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,31842.000000,0.138026,0.0,NaN,7.0,81600.0,0.021936,0.021936,34530.0,2020 Q4&45540
3859,Industrial,2021 Q1,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,31496.189453,0.136862,1400000.0,100.57,7.0,81600.0,0.013023,0.013023,20500.0,2021 Q1&45540
3860,Industrial,2021 Q2,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,31540.269531,0.142301,5357195.0,73.60,7.0,81600.0,0.048391,0.048391,76172.0,2021 Q2&45540
3861,Industrial,2021 Q3,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,31965.048828,0.156650,3750000.0,161.18,2.0,21600.0,0.054643,0.054643,89292.0,2021 Q3&45540
3862,Industrial,2021 Q4,All,2022 Q1,The Villages - FL,45540,Industrial,Base Case,Metro,G39580,...,32531.201172,0.168221,300000.0,103.59,2.0,21600.0,0.050971,0.050971,83292.0,2021 Q4&45540

# merge case and death to costar.

In [99]:
industry3=industry2.merge(pd_quarter_CBSAFP2case_death_current,left_on='quarter_CBSAFP',right_on='quarter_cbsa',how='left')

retail3=retail2.merge(pd_quarter_CBSAFP2case_death_current,left_on='quarter_CBSAFP',right_on='quarter_cbsa',how='left')

office3=office2.merge(pd_quarter_CBSAFP2case_death_current,left_on='quarter_CBSAFP',right_on='quarter_cbsa',how='left')

In [102]:
office3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384 entries, 0 to 383
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Property Class Name           384 non-null    object
 1   Period                        384 non-null    object
 2   Slice                         384 non-null    object
 3   As Of                         384 non-null    object
 4   Geography Name                384 non-null    object
 5   CBSA Code                     384 non-null    int64
 6   Property Type                 384 non-null    object
 7   Forecast Scenario             384 non-null    object
 8   Geography Type                384 non-null    object
 9   Geography Code                384 non-null    object
 10  Appreciation Return           384 non-null    float64
 11  Asset Value                   384 non-null    float64
 12  Availability Rate             384 non-null    float64
 13  Available SF                  384 non-null    float64
 14  Average Sale Price            381 non-null    float64
 15  Cap Rate                      262 non-null    float64
 16  Cap Rate Transactions         382 non-null    float64
 17  Capital Value Index           384 non-null    float64
 18  Demand SF                     384 non-null    float64
 19  Demolished SF                 384 non-null    float64
 20  Existing Buildings            384 non-null    float64
 21  Gross Delivered Buildings     384 non-null    float64
 22  Gross Delivered SF            384 non-null    float64
 23  Households                    384 non-null    float64
 24  Income Return                 384 non-null    float64
 25  Industrial Employment         384 non-null    float64
 26  Inventory SF                  384 non-null    int64
 27  Leasing Activity SF           380 non-null    float64
 28  Market Cap Rate               384 non-null    float64
 29  Market Rent Growth            384 non-null    float64
 30  Market Rent Growth 12 Mo      384 non-null    float64
 31  Market Rent Index             384 non-null    float64
 32  Market Rent/SF                384 non-null    float64
 33  Market Sale Price Growth      384 non-null    float64
 34  Market Sale Price Index       384 non-null    float64
 35  Market Sale Price Per SF      384 non-null    float64
 36  Median Cap Rate               262 non-null    float64
 37  Median Household Income       384 non-null    float64
 38  Median Price/Bldg SF          381 non-null    float64
 39  Net Absorption SF             384 non-null    float64
 40  Net Absorption SF 12 Mo       384 non-null    float64
 41  Net Absorption SF Direct      384 non-null    float64
 42  Net Absorption SF Sublet      262 non-null    float64
 43  Net Delivered SF              384 non-null    float64
 44  Net Delivered SF 12 Mo        384 non-null    float64
 45  NOI Index                     384 non-null    float64
 46  Occupancy Rate                384 non-null    float64
 47  Office Base Rent Direct       384 non-null    float64
 48  Office Base Rent Overall      384 non-null    float64
 49  Office Base Rent Sublet       309 non-null    float64
 50  Office Employment             384 non-null    float64
 51  Office Gross Rent Direct      384 non-null    float64
 52  Office Gross Rent Overall     384 non-null    float64
 53  Office Gross Rent Sublet      246 non-null    float64
 54  Population                    384 non-null    float64
 55  Sales Volume Transactions     382 non-null    float64
 56  Sold Building SF              382 non-null    float64
 57  Total Employment              384 non-null    float64
 58  Total Return                  384 non-null    float64
 59  Total Sales Volume            384 non-null    float64
 60  Transaction Sale Price/SF     381 non-null    float64
 61  Under Construction Buildings  384 non-null    float64
 62  Under Construction SF         336 non-null    float64
 63  Vacancy Rate                  384 non-null    float64
 64  Vacant Available %            384 non-null    float64
 65  Vacant Available SF           384 non-null    float64
 66  quarter_CBSAFP                384 non-null    object
 67  quarter_cbsa                  192 non-null    object
 68  current_case                  192 non-null    float64
 69  current_death                 192 non-null    float64
dtypes: float64(57), int64(2), object(11)
memory usage: 213.0+ KB

# add facial mask and stay at home

## merge data

In [237]:
mask=pd.read_excel('/Users/yoga/Dropbox/1 æ–°å† å’Œå•†ä¸šåœ°äº§/101 CRE second time 202205/91_old_data_used for extracting facial mask and stay at home20220507.xlsx')
office4=pd.read_csv('/Users/yoga/Dropbox/1 æ–°å† å’Œå•†ä¸šåœ°äº§/101 CRE second time 202205/31_2_office_covid_2018-2021.csv')
retail4=pd.read_csv('/Users/yoga/Dropbox/1 æ–°å† å’Œå•†ä¸šåœ°äº§/101 CRE second time 202205/32_2_retail_covid_2018-2021.csv')
industry4=pd.read_csv('/Users/yoga/Dropbox/1 æ–°å† å’Œå•†ä¸šåœ°äº§/101 CRE second time 202205/33_2_industry_covid_2018-2021.csv')

In [238]:
mask.columns.tolist()

['Property Class Name',
 'Period',
 'Slice',
 'As Of',
 'Geography Name',
 'CBSA Code',
 'Property Type',
 'Forecast Scenario',
 'Geography Type',
 'Geography Code',
 'Appreciation Return',
 'Asset Value',
 'Availability Rate',
 'Available SF',
 'Average Sale Price',
 'Cap Rate',
 'Cap Rate Transactions',
 'Capital Value Index',
 'Demand SF',
 'Demolished SF',
 'Existing Buildings',
 'Gross Delivered Buildings',
 'Gross Delivered SF',
 'Households',
 'Income Return',
 'Industrial Employment',
 'Inventory SF',
 'Leasing Activity SF',
 'Market Cap Rate',
 'Market Rent Growth',
 'Market Rent Growth 12 Mo',
 'Market Rent Index',
 'Market Rent/SF',
 'Market Sale Price Growth',
 'Market Sale Price Index',
 'Market Sale Price Per SF',
 'Median Cap Rate',
 'Median Household Income',
 'Median Price/Bldg SF',
 'Net Absorption SF',
 'Net Absorption SF 12 Mo',
 'Net Absorption SF Direct',
 'Net Absorption SF Sublet',
 'Net Delivered SF',
 'Net Delivered SF 12 Mo',
 'NOI Index',
 'Occupancy Rate',
 'Office Base Rent Direct',
 'Office Base Rent Overall',
 'Office Base Rent Sublet',
 'Office Employment',
 'Office Gross Rent Direct',
 'Office Gross Rent Overall',
 'Office Gross Rent Sublet',
 'Population',
 'Sales Volume Transactions',
 'Sold Building SF',
 'Total Employment',
 'Total Return',
 'Total Sales Volume',
 'Transaction Sale Price/SF',
 'Under Construction Buildings',
 'Under Construction SF',
 'Vacancy Rate',
 'Vacant Available %',
 'Vacant Available SF',
 'Property Class Name.1',
 'Period_x',
 'Geography Name_x',
 'CBSA Code.1',
 'Households.1',
 'Population.1',
 'Industrial Employment.1',
 'Office Employment.1',
 'Total Employment.1',
 'Market Rent Growth.1',
 'Market Sale Price Growth.1',
 'Sales Volume Transactions.1',
 'Median Household Income.1',
 '2020 percentage of vote for trump',
 '2016 percentage of vote for trump',
 'case in current quarter',
 'death in current quarter',
 'case in last quarter',
 'death in last quarter',
 '2018 CBSA GDP',
 'ln 2018 CBSA GDP',
 'CBSA_Population2010',
 'ln CBSA_Population2010',
 'Overall_CBSA_Population_density2010',
 'Non-HispanicWhite alone:Percent of population 2010 CBSA',
 'Hispanic or Latino:Percent of population 2010 CBSA',
 'Black orAfrican AmericanOne race Percent of population  2010 CBSA',
 'Asian_One race:Percent of population 2010 CBSA',
 'male population Percent in 2010 CBSA',
 'Median age, 2010 CBSA',
 'Q2',
 'Q3',
 'Q4',
 'percentage_stay at home',
 'percentage_facial mask',
 'lnCOVID-19 case current quarter',
 'lnCOVID-19 death current quarter',
 'lnCOVID-19 case last quarter',
 'lnCOVID-19 death last quarter',
 'ln Households',
 'ln Industrial Employment',
 'ln Office Employment',
 'ln Total Employment',
 'ln Median Household Income']

In [239]:
mask2=mask[['Period','CBSA Code','percentage_stay at home','percentage_facial mask']]

mask2['quarter_CBSAFP']=mask2['Period'].astype(str)+"&"+mask2['CBSA Code'].astype(int).astype(str)

mask2

<ipython-input-239-444b926b4fdb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask2['quarter_CBSAFP']=mask2['Period'].astype(str)+"&"+mask2['CBSA Code'].astype(int).astype(str)

,Period,CBSA Code,percentage_stay at home,percentage_facial mask,quarter_CBSAFP
0,2019 Q1,19660,NaN,NaN,2019 Q1&19660
1,2019 Q2,19660,NaN,NaN,2019 Q2&19660
2,2019 Q3,19660,NaN,NaN,2019 Q3&19660
3,2019 Q4,19660,NaN,NaN,2019 Q4&19660
4,2020 Q1,19660,0.0,0.0,2020 Q1&19660
...,...,...,...,...,...
187,2019 Q4,45540,NaN,NaN,2019 Q4&45540
188,2020 Q1,45540,0.0,0.0,2020 Q1&45540
189,2020 Q2,45540,0.0,0.0,2020 Q2&45540
190,2020 Q3,45540,0.0,0.0,2020 Q3&45540
191,2020 Q4,45540,0.0,0.0,2020 Q4&45540

In [240]:
mask3=mask2[['percentage_stay at home','percentage_facial mask','quarter_CBSAFP']]
mask3

     percentage_stay at home  percentage_facial mask quarter_CBSAFP
0                        NaN                     NaN  2019 Q1&19660
1                        NaN                     NaN  2019 Q2&19660
2                        NaN                     NaN  2019 Q3&19660
3                        NaN                     NaN  2019 Q4&19660
4                        0.0                     0.0  2020 Q1&19660
..                       ...                     ...            ...
187                      NaN                     NaN  2019 Q4&45540
188                      0.0                     0.0  2020 Q1&45540
189                      0.0                     0.0  2020 Q2&45540
190                      0.0                     0.0  2020 Q3&45540
191                      0.0                     0.0  2020 Q4&45540

[192 rows x 3 columns]

In [241]:
mask3.describe()

       percentage_stay at home  percentage_facial mask
count                96.000000               96.000000
mean                 19.763423               26.148626
std                  38.725825               40.760137
min                   0.000000                0.000000
25%                   0.000000                0.000000
50%                   0.000000                0.000000
75%                   6.868132               47.009348
max                 100.000000              100.000000

In [242]:
#merge mask into office retail and industry

office5=office4.merge(mask3, left_on='quarter_CBSAFP',right_on='quarter_CBSAFP', how ='left')
retail5=retail4.merge(mask3, left_on='quarter_CBSAFP',right_on='quarter_CBSAFP', how ='left')
industry5=industry4.merge(mask3, left_on='quarter_CBSAFP',right_on='quarter_CBSAFP', how ='left')

In [ ]:
#fill nan with 0
office5.update(office5[['percentage_stay at home','percentage_facial mask']].fillna(0))
retail5.update(retail5[['percentage_stay at home','percentage_facial mask']].fillna(0))
industry5.update(industry5[['percentage_stay at home','percentage_facial mask']].fillna(0))